<div>
<app-character-exam></app-character-exam>
  <mat-card-title>כניסה</mat-card-title>

  <mat-form-field appearance="fill">
  <mat-label>password</mat-label>
  <input matInput type="password" placeholder="password" (keyup)="disable()" [(ngModel)]="pw" required >

  </mat-form-field>


  <mat-form-field appearance="fill">
  <mat-label>Enter your userName</mat-label>
  <input matInput type="text" placeholder="id" (keyup)="disable()" [(ngModel)]="id" required>
 <div>{{txtans}}</div>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" [disabled]='able' (click)="check()">התחברות</button>
  <br>
  <br>
  <button mat-raised-button color="primary" [disabled]='able' (click)="checkNew()" >הרשמה</button>
  


</div>

